<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>

{% load static %}
<html>
<head>
<title>Shoppy an Admin Panel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<link href="{% static 'account/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all">
<!-- Custom Theme files -->
<link href="{% static 'account/css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
<!--js-->
<script src="{% static 'account/js/jquery-2.1.1.min.js' %}"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!--icons-css-->
<link href="{% static 'account/css/font-awesome.css' %}" rel="stylesheet">
<!--Google Fonts-->
<link href='//fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
<!--static chart-->
<script src="{% static 'account/js/Chart.min.js' %}"></script>
<!--//charts-->
<!-- geo chart -->
    <script src="//cdn.jsdelivr.net/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
    <script>window.modernizr || document.write('<script src="lib/modernizr/modernizr-custom.js"><\/script>')</script>
    <!--<script src="lib/html5shiv/html5shiv.js"></script>-->
     <!-- Chartinator  -->
    <script src="{% static 'account/js/chartinator.js' %}" ></script>

<!--geo chart-->

<!--skycons-icons-->
<script src="{% static 'account/js/skycons.js' %}"></script>
<!--//skycons-icons-->
</head>
<body background="red">
<div class="page-container">
   <div class="left-content">
	   <div class="mother-grid-inner">
            <!--header start here-->
				<div class="header-main"  style="background-color:#280E3B">
					<div class="header-left">

                        <h1 style="color:white;display:inline-block; font-family: myFirstFont;bold:10px;">DMS</h1>

							<div class="clearfix"> </div>
						 </div>

						 <div class="header-right">
							<div class="profile_details_left"><!--notifications of menu start -->
								<ul class="nofitications-dropdown">


								</ul>
								<div class="clearfix"> </div>
							</div>
							<!--notification menu end -->
							<div class="profile_details">
								<ul>
									<li class="dropdown profile_details_drop">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
											<div class="profile_img">
												<span class="prfil-img"><img src="images/p1.png" alt=""> </span>
												<div class="user-name">
                                                    <p>Welcome</p>
													   <div class="w3-container">

                                                        <BR>

												</div>

												<div class="clearfix"></div>
											</div>
										</a>

									</li>
								</ul>
							</div>
							<div class="clearfix"> </div>
						</div>
				     <div class="clearfix"> </div>
				</div>
<!--heder end here-->
<!-- script-for sticky-nav -->
		<script>
		$(document).ready(function() {
			 var navoffeset=$(".header-main").offset().top;
			 $(window).scroll(function(){
				var scrollpos=$(window).scrollTop();
				if(scrollpos >=navoffeset){
					$(".header-main").addClass("fixed");
				}else{
					$(".header-main").removeClass("fixed");
				}
			 });

		});
		</script>
		<!-- /script-for sticky-nav -->
<!--inner block start here-->
<div class="inner-block">
<!--market updates updates-->
	 <div class="market-updates">
			<div class="col-md-4 market-update-gd">


				  <div class="clearfix"> </div>

			</div>



				  <div class="clearfix"> </div>

			</div>
			<div class="col-md-4 market-update-gd">

					<div class="col-md-4 market-update-right">

				  <div class="clearfix"> </div>

			</div>
		   <div class="clearfix"> </div>
		</div>
<!--market updates end here-->
<!--mainpage chit-chating-->

<!--main page chit chating end here-->
<!--main page chart start here-->
<div class="main-page-charts">
   <div class="main-page-chart-layer1">

	 <div class="clearfix"> </div>
  </div>
 </div>
<!--main page chart layer2-->
<div class="chart-layer-2">

	<div class="col-md-6 chart-layer2-left" style="padding-left:890px;display:inline-block">


  <div class="clearfix">
	</div> </div>
</div>

<!--climate start here-->
<div class="climate">




				<div class="clearfix"> </div>




<div class="container">
                    {% block body %}
					{% include 'account/login_cpy.html'%}
                     {% endblock %}


</div>



				<div class="clearfix"> </div>




<div class="climate-gd1-top">


				<div class="clearfix"> </div>

            </div>




	</div>
	<div class="clearfix"> </div>
</div>
<!--climate end here-->
</div>
<!--inner block end here-->
<!--copy rights start here-->

<div class="copyrights">
	 <p>© 2016 Venba. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">venbainfotech</a> </p>
</div>
<!--COPY rights end here-->
</div>
</div>
<!--slider menu-->
    <div class="sidebar-menu" style="background-color:#632A76;height:815px">

		    <div class="menu">
		      <ul id="menu" >

                  <marquee direction="up" speed="normal" behavior="scroll" vsspace="100" height="700">
                 <center> <h3 style="color:white;letter-spacing: 3px;"><font face="verdana">Welcome</font></h3></center>
   <center><h3 style="color:white;letter-spacing: 3px;"><font face="verdana"> Donors           </font></h3>
   <i class="fa fa-thumbs-up" style="font-size:48px;color:black"></i>
       <h3 style="color:white;letter-spacing: 3px;"><font face="verdana"> Login To Access</font></h3>
       <h3 style="color:white">Current Projects</h3>
        <img src="{% static 'account/images/prjdesp.jpg' %}" height="130" width="150" style="border-radius:50%">
       <p>WHO progression</p>
   </center>
                  </marquee>
		        		      </ul>
		    </div>
	 </div>
	<div class="clearfix"> </div>
</div>
<!--slide bar menu end here-->
<script>
var toggle = true;

$(".sidebar-icon").click(function() {
  if (toggle)
  {
    $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
    $("#menu span").css({"position":"absolute"});
  }
  else
  {
    $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
    setTimeout(function() {
      $("#menu span").css({"position":"relative"});
    }, 400);
  }
                toggle = !toggle;
            });
</script>
<!--scrolling js-->
		<script src="{% static 'account/js/jquery.nicescroll.js' %}"></script>
		<script src="{% static 'account/js/scripts.js' %}"></script>
		<!--//scrolling js-->
<script src="{% static 'js/bootstrap.js' %}"> </script>
<!-- mother grid end here-->
</body>
</html>