<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">

 <b><a href="project_view"  style="color:black;align:center;width:200px"  class="btn btn-warning">Back to projects
                </a></b>
      </div>
      <!-- search form -->






           <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
          </section>
    <!-- /.sidebar -->
  </aside>


</body>
</html>